@import url(colors.css);

/* #### GENERAL BOBY #### */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: auto;
    background: url('../assets/images/page-pattern-backround.jpg');
}

/* #### NAVBAR #### */
.header {
    display: flex;
    align-items: center;
    position: absolute;
    top: 40px;
}

.nav {
    display: flex;
    align-items: center;
    width: 85vw;
    max-width: 1400px;
    height: 90px;
    background-color: #fff;
}

li {
    margin: 0 0 0 2em;
    list-style: none;
}

.nav ul li.active {
    border-bottom: 1px solid #F1B847;
}

/* .nav ul li.active a {
    color: #F1B847;
} */

#menu-navigation {
    display: flex;
}

/* #### MAIN CONTENT #### */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* #### SECTIONS #### */
.sections {
    height: 100vh;
    padding: 1em;
}

/* #### SECTIONS HERO #### */
.sec-hero {
    width: 100vw;
    padding: 0;
}

.sec-hero video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sec-services {
    width: 100%;
    max-width: 1400px;
}

.sec-breeds {
    width: 100%;
    max-width: 1400px;
}

.sec-gallery {
    width: 100vw;
    background-color: rgb(228, 224, 22);
}

.sec-team {
    width: 100%;
    max-width: 1400px;
}

.sec-prices {
    width: 100%;
    max-width: 1400px;
}

/* #### BUTTONS #### */
#btn-scroll-top {
    display: none;
    z-index: 990;
    padding: 0.6em;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    position: fixed;
    bottom: 4vh;
    right: 4vw;
    background-color: #F1B847;
    font-size: 1.2em;
}

/* #### FOOTER #### */
.footer-top {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 400px; /* Change to auto when insert content */
    background-color: #171615;
}

.footer-content {
    width: 100%;
    max-width: 1400px;
    height: auto;
    padding: 1em;
    background-color: #fff;
}

.footer-bottom {
    display: flex;
    width: 100vw;
    height: 85px;
    padding: 1em;
    border-top: 1px solid #30302f;
    background-color: #0f0f0f;
}

/* #### MEDIA QUERIES #### */
/* MENU STICKY DESKTOP VERSION */
/* .header.sticky {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: sticky;
    top: 0;
    background-color: #ffffff;
}

.nav {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    height: 90px;
} */