@import url(colors.css);

/* #### GENERAL BOBY #### */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background: url('../assets/images/page-pattern-backround.jpg');
}

/* #### NAVBAR #### */
.header {
    display: flex;
    align-items: center;
    position: absolute;
    top: 40px;
    z-index: 999;
}

.nav {
    display: flex;
    align-items: center;
    width: 85vw;
    max-width: 1400px;
    height: 90px;
    background-color: #fff;
    border-radius: 0.3em;
}

li {
    margin: 0 0 0 2em;
    list-style: none;
}

.nav ul li.active {
    border-bottom: 1px solid #F1B847;
}

/* .nav ul li.active a {
    color: #F1B847;
} */

#menu-navigation {
    display: flex;
}

/* #### MAIN CONTENT #### */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* #### SECTIONS #### */
.sections {
    height: 100vh;
    padding: 1em;
}

/* #### SECTION HERO #### */
.sec-hero {  
    width: 100vw;
    padding: 0;
    margin: 0;
}

.sec-hero video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 35%;
    padding: 1em;
    height: 50vh;
}

.hero-content p {
    max-width: 800px;
    margin: 1em 0 0 0;
    text-shadow: 1px 2px 5px #2b2b2b;
}

.hero-content h1 {
    max-width: 1200px;
    text-shadow: 1px 2px 5px #2b2b2b;  
}

.hero-content h1::after {
    width: 200px;
    content: '';
    display: flex;
    margin: 0.2em auto;
    border-bottom: 2px solid #F1B847;
}

.btn-view-more {
    cursor: pointer;
    background-color: #F1B847;
    padding: 1em 2em;
    border-radius: 0.3em;
    margin: 1.5em 0 0 0;
}

.slide-btn-container {
    display: flex;
    position: relative;
    bottom: 50px;
}

.btn-slide {
    display: flex;
    font-size: 4em;
    color: #ffffff;
    cursor: pointer;
    background: transparent;
    border: none;
    margin: 0 0.5em 0 0.5em;
}

.btn-slide.left {
    margin-right: auto;
}

.filter-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fdb71f25;
    mix-blend-mode: soft-light;
}

/* #### SECTION SERVICES #### */
/* TODO: WORK HERE FOR HORIZONTAL SCROOLING */
.sec-services {
    width: 100%;
    /* max-width: 1400px; */
    display: flex;
    overflow-x: hidden;
}

.service-element {
    min-width: 100%;
    width: 100%;
    height: 100vh;
    display: flex;
}

.service-1 {
    background-color: red;
}

.service-2 {
    background-color: aqua;
}

.service-3 {
    background-color: green;
}

.service-4 {
    background-color: yellow;
}

/* #### SECTION BREADS #### */
.sec-breeds {
    width: 100%;
    max-width: 1400px;
}

/* #### SECTION GALLERY #### */
.sec-gallery {
    width: 100vw;
    background-color: rgb(228, 224, 22);
}

/* #### SECTION TEAM #### */
.sec-team {
    width: 100%;
    max-width: 1400px;
}

/* #### SECTION PRICES #### */
.sec-prices {
    width: 100%;
    max-width: 1400px;
}

/* #### BUTTONS #### */
#btn-scroll-top {
    display: none;
    z-index: 990;
    padding: 0.6em;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    position: fixed;
    bottom: 4vh;
    right: 4vw;
    background-color: #F1B847;
    font-size: 1.2em;
}

/* #### FOOTER #### */
.footer-top {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 400px; /* Change to auto when insert content */
    background-color: #171615;
}

.footer-content {
    width: 100%;
    max-width: 1400px;
    height: auto;
    padding: 1em;
    background-color: #fff;
}

.footer-bottom {
    display: flex;
    width: 100vw;
    height: 85px;
    padding: 1em;
    border-top: 1px solid #30302f;
    background-color: #0f0f0f;
}

/* #### MEDIA QUERIES #### */
/* MENU STICKY DESKTOP VERSION */
/* .header.sticky {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: sticky;
    top: 0;
    background-color: #ffffff;
}

.nav {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    height: 90px;
} */