@import url(colors.css);
@import url(fonts.css);

/* #### BODY GENERAL #### */
body {
    font-family: 'Raleway Regular';
    font-size: 18px;
    line-height: 1.8em;
    color: #262626;
}

/* #### HEADERS #### */
h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.2em;
}

h1,
h2,
h3,
h4 {
    font-family: 'Lora Regular';
    font-weight: 400;
    line-height: 1.3em;
}

.sec-services h1,
.testimony h1,
.sec-breeds h1,
.sec-gallery h1,
.newsletter h1,
.sec-team h1,
.sec-prices h1 {
    text-transform: uppercase;
    text-align: center;
}

/* #### QUOTES #### */
q, cite, blockquote p {
    font-family: 'Raleway Italic';
    font-size: 1.1em;
}

/* #### LINKS #### */
a {
    font-family: 'Lora Regular';
    text-transform: uppercase;
    font-size: 0.9em;
    text-decoration: none;
}

/* #### HERO SECTION #### */
.hero-content {
    color: #fff;
    text-align: center;
}

.hero-content h1 {
    text-transform: uppercase;
    font-size: 4em;
    line-height: 1em;
}

.btn-view-more {
    font-weight: 600;
}

.horse-info li h4 {
    font-size: 0.9em;
    font-weight: 700;
}

.fa-horse-head {
    font-size: 2em;
}

.call-description {
    font-size: 1.5em;
    line-height: 1.2em;
    font-family: 'Raleway Italic';
}

/* #### PARALLAX #### */
.testimony {
    color: #fff;
}

.client-name {
    text-transform: uppercase;
    color: #F1B847;
    font-family: 'Lora Regular';
    font-size: 1em;
}

.client-profession {
    font-size: 0.8em;
}

.fa-star {
    font-size: 1em;
    color: #F1B847;
}